
{% extends 'book/book.html'%}
{% block content %}
<center>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="w-50 table table-light" style="border-radius: 10px;">
            {% for field in upload_form %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-lg btn-success md-5">Upload</button>
    </form>
</center>
{% endblock %}